@use '@styles/settings' as *;

.add-posts {
	@include sizing('margin-top', -#{calc(size(layout(gutter)) * 2)});
}

.excerpt {
	$excerpt: &;

	display: flex;
	flex-direction: column;

	@include sizing('margin-top', calc(size(layout(gutter)) * 2));

	&__time {
		display: block;

		@include sizing('padding-bottom', size(2));
	}

	&__content {
		display: flex;
		flex: 1;
		flex-direction: column;
		background-color: $dark;
		color: $light;

		@include sizing('padding', size(8));

		p:has(#{$excerpt}__btn) {
			margin-top: auto;

			@include sizing('padding-top', size(8));
		}
	}
}

.pagination {
	width: 100%;

	:global(nav) {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
	}

	:global(.dots) {
		margin-right: 0;
		margin-left: 0;
	}

	:global(.current),
	:global(.page-numbers),
	:global(.next),
	:global(.prev) {
		@extend %f-paragraph;
		@include sizing('margin-right', size(1));
		@include sizing('margin-left', size(1));
		@include sizing('padding', [size(1), size(3)]);
		@include user-select(disable);
	}

	:global(.current) {
		background-color: $dark;
		color: $light;
	}

	:global(.page-numbers:not(.current)),
	:global(.next),
	:global(.prev) {
		color: $dark;
		text-decoration: none;

		&:focus {
			background-color: $dark;
			color: $light;
		}

		@include mq-hover {
			@include transition('background, color');

			&:hover {
				background-color: $dark;
				color: $light;
			}
		}
	}
}
