web/wp
web/app/plugins/*
!web/app/plugins/index.php
web/app/mu-plugins/*
!web/app/mu-plugins/bedrock-autoloader.php
!web/app/mu-plugins/index.php
# !web/app/mu-plugins/tetloose-core
!web/app/themes/index.php
web/app/upgrade
web/app/uploads/*
!web/app/uploads/index.php
web/app/languages/*
composer.phar
.htaccess
web/.htaccess
web/app/sitemaps/
web/app/wflogs/
web/.user.ini
.env
.env.*
!.env.example
vendor
wp-cli.local.yml
!.gitkeep
sftp-config.json
logs/
*.log
error_log
web/error_log
web/app/debug.log
web/app/cache
.sass-cache
*.map
node_modules/
.DS_Store
*.sql
package/*.zip

web/app/mu-plugins/tetloose-core/
web/app/themes/tetloose-theme/
