.bg-light {
	background-color: $light;
}

.bg-dark {
	background-color: $dark;
}

.bg-color-1 {
	background-color: $color-1;
}

.bg-color-2 {
	background-color: $color-2;
}

.bg-color-3 {
	background-color: $color-3;
}

.bg-color-4 {
	background-color: $color-4;
}
