.border-b {
	border-width: 0 0 rem(2px);
	border-style: solid;
}

.border-t {
	border-width: rem(2px) 0 0;
	border-style: solid;
}

.border-r {
	border-width: 0 rem(2px) 0;
	border-style: solid;
}

.border-l {
	border-width: 0 0 0 rem(2px);
	border-style: solid;
}

.border-l-r {
	border-width: 0 rem(2px);
	border-style: solid;
}

.border-t-r-l {
	border-width: rem(2px) rem(2px) 0 rem(2px);
	border-style: solid;
}

.border-dark {
	border-color: $dark;
}

.border-light {
	border-color: $light;
}

.border-color-1 {
	border-color: $color-1;
}

.border-color-2 {
	border-color: $color-2;
}

.border-color-3 {
	border-color: $color-3;
}

.border-color-4 {
	border-color: $color-4;
}
