[class*=u-align-] {
	display: flex;
}

.u-align-middle {
	align-items: center;
}

.u-align-top {
	align-items: flex-start;
}

.u-align-bottom {
	align-items: flex-end;
}

.u-align-center {
	justify-content: center;
}

.u-align-right {
	justify-content: flex-end;
}

.u-align-left {
	justify-content: flex-start;
}
