[class*=u-border-] {
	border-style: solid;
	border-color: transparent;
}

.u-border-1-t {
	border-width: 2px 0 0;
	border-color: $color-1;
}

.u-border-2-t {
	border-width: 2px 0 0;
	border-color: $color-2;
}

.u-border-3-t {
	border-width: 2px 0 0;
	border-color: $color-3;
}

.u-border-4-t {
	border-width: 2px 0 0;
	border-color: $color-4;
}
