.u-figure {
	position: relative;
	width: 100%;
	overflow: hidden;

	&__img {
		display: block;
		width: 100%;
		height: 100%;

		.is-cover & {
			@include object-fit;
		}

		.is-contain & {
			@include object-fit(contain);
		}
	}
}
