.u-figure {
	position: relative;
	width: 100%;
	overflow: hidden;

	&__img {
		display: block;
		width: 100%;
		height: 100%;

		.is-cover & {
			@include object-fit;
		}

		.is-contain & {
			@include object-fit(contain);
		}

		.is-left-top & {
			object-position: left top;
		}

		.is-left-center & {
			object-position: left center;
		}

		.is-left-bottom & {
			object-position: left bottom;
		}

		.is-right-top & {
			object-position: right top;
		}

		.is-right-center & {
			object-position: right center;
		}

		.is-right-bottom & {
			object-position: right bottom;
		}

		.is-center-top & {
			object-position: center top;
		}

		.is-center & {
			object-position: center center;
		}

		.is-center-bottom & {
			object-position: center bottom;
		}
	}
}
