@function skeleton($name, $variant) {
	@if $variant {
		@return map-get(map-get($skeleton, $name), $variant);
	} @else {
		@return map-get($skeleton, $name);
	}
}

$skeleton: (
	media: (
		to: #f54abc,
		from: #00e76c
	),
	figure: (
		to: #5a5a5a,
		from: #0076e4
	)
);

[class*=u-skeleton-] {
	animation-duration: 1000ms;
	animation-timing-function: cubic-bezier(.75, .75, .75, 1);
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.u-skeleton-media {
	animation-name: kf-skeleton-media;
}

@keyframes kf-skeleton-media {
	to {
		background-color: skeleton(media, to);
	}

	from {
		background-color: skeleton(media, from);
	}
}

.u-skeleton-figure {
	animation-name: kf-skeleton-figure;
}

@keyframes kf-skeleton-figure {
	to {
		background-color: skeleton(figure, to);
	}

	from {
		background-color: skeleton(figure, from);
	}
}
