.u-vh-fullscreen {
	min-height: vars(vh, fullscreen);
}

.u-vh-half {
	min-height: vars(vh, half);
}

.u-vh-1-third {
	min-height: vars(vh, one-third);
}

.u-vh-2-third {
	min-height: vars(vh, two-third);
}
