@function color($name, $variant) {
	@if $variant {
		@return map-get(map-get($color, $name), $variant);
	} @else {
		@return map-get($color, $name);
	}
}

$black: #0a0808;
$light: #fff;
$grey: #b9b9b9;
$light-grey: #d8d8d8;
$color-1: var(--color-1);
$color-2: var(--color-2);
$color-3: var(--color-3);
$color-4: var(--color-4);
$color: (
	global: (
		dark: $black,
		light: $light,
		hover: $grey,
		grey: $grey,
		light-grey: $light-grey,
		marker: $black,
		selection-bg: $black,
		selection-color: $light
	)
);
