@mixin f-body {
	font-family: var(--f-body);
}

@mixin f-heading {
	font-family: var(--f-heading);
}

@mixin f-body-light {
	font-weight: var(--f-body-light);
}

@mixin f-heading-light {
	font-weight: var(--f-heading-light);
}

@mixin f-body-regular {
	font-weight: var(--f-body-regular);
}

@mixin f-heading-regular {
	font-weight: var(--f-heading-regular);
}

@mixin f-body-medium {
	font-weight: var(--f-body-medium);
}

@mixin f-heading-medium {
	font-weight: var(--f-heading-medium);
}

@mixin f-body-bold {
	font-weight: var(--f-body-bold);
}

@mixin f-heading-bold {
	font-weight: var(--f-heading-bold);
}

@mixin f-italic {
	font-style: italic;
}

@mixin f-uppercase {
	text-transform: uppercase;
}

@mixin f-capitalize {
	text-transform: capitalize;
}

@mixin f-lowercase {
	text-transform: lowercase;
}
