@mixin background-image($property: cover, $position: center center, $repeat: false, $fixed: false, $image: false) {
	background-position: $position;
	background-size: $property;

	@if $repeat {
		background-repeat: repeat;
	} @else {
		background-repeat: no-repeat;
	}

	@if $fixed {
		background-attachment: fixed;
	}

	@if $image {
		background-image: url($image);
	}
}
