.u-embed {
	display: block;
	position: relative;
	width: 100%;
	height: 0;
	overflow: hidden;

	&.is-16-9 {
		padding-bottom: intrinsic(1920, 1080);
	}

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
