.l-action {
	padding-top: rem(spacing(.5));

	@include mq(vars(brakepoint, sml)) {
		display: flex;
		flex-wrap: nowrap;
		margin-right: -(rem(spacing(.2)));
		margin-left: -(rem(spacing(.2)));
		align-items: center;
	}

	&.is-align-right {
		@include mq(vars(brakepoint, sml)) {
			justify-content: flex-end;
		}
	}

	.u-btn {
		margin-top: rem(spacing(.5));

		@include mq(vars(brakepoint, sml), max-width) {
			display: block;
			width: 100%;
		}

		@include mq(vars(brakepoint, sml)) {
			margin-right: rem(spacing(.2));
			margin-left: rem(spacing(.2));
		}
	}
}
