@use '@styles/settings' as *;

.menu {
	$menu: &;

	@include color-scheme(
		(
			--menu-bg: $light,
			--menu-border: $dark,
			--bar-bg: $dark,
			--menu-bg-active: color($light, $dark, 20%)
		),
		(
			--menu-bg: $dark,
			--menu-border: $light,
			--bar-bg: $light,
			--menu-bg-active: color($dark, $light, 30%)
		)
	);

	position: absolute;
	background-color: var(--menu-bg);
	border-style: solid;
	border-color: var(--menu-border);

	@include sizing('right', size(layout(gutter)));
	@include sizing('top', size(layout(gutter)));
	@include sizing('border-width', size(.5));
	@include sizing('height', size(layout(header-height)));
	@include sizing('width', size(layout(header-height)));

	@include mq-hover {
		@include transition('background');

		&:hover {
			background-color: var(--menu-bg-active);
		}
	}

	&:focus {
		background-color: var(--menu-bg-active);
	}

	&__bar {
		position: absolute;
		opacity: 1;
		visibility: visible;
		background-color: var(--bar-bg);

		@include sizing('height', size(2));
		@include sizing('right', size(layout(gutter)));
		@include sizing('left', size(layout(gutter)));
		@include transition('all');
		@include hardware(true);

		&:nth-child(1) {
			@include sizing('top', size(layout(gutter)));
		}

		&:nth-child(2),
		&:nth-child(3) {
			top: 50%;
			transform: translateY(-50%);
		}

		&:nth-child(4) {
			@include sizing('bottom', size(layout(gutter)));
		}
	}

	&.is-active {
		position: fixed;

		#{$menu}__bar {
			&:nth-child(1) {
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}

			&:nth-child(4) {
				bottom: 50%;
				transform: translateY(-50%) rotate(45deg);
			}

			&:nth-child(1),
			&:nth-child(4) {
				opacity: 0;
			}

			&:nth-child(2) {
				transform: translateY(-50%) rotate(-45deg);
			}

			&:nth-child(3) {
				transform: translateY(-50%) rotate(45deg);
			}
		}
	}
}
