@use '@styles/settings' as *;

.header {
	$header: &;

	position: fixed;
	top: 0;
	left: 0;
	z-index: z-index(xxxlrg);
	width: 100%;

	@include sizing('height', size(layout(header-height)));

	&.is-hidden #{$header}__inside {
		transform: translate3d(0, -100%, 0);
	}

	&.is-active #{$header}__inside {
		transform: translate3d(0, 0, 0);
	}

	&__inside {
		position: relative;
		z-index: z-index(sml);
		transform: translate3d(0, 0, 0);

		@include transition('transform, height, filter, background-color');
		@include sizing('height', size(layout(header-height)));
		@include user-select(disable);
	}

	&__logo {
		position: absolute;
		top: 0;

		@include sizing('left', size(layout(gutter)));
		@include sizing('height', size(layout(header-height)));
		@include sizing('right', size(layout(header-height)));

		&:focus {
			opacity: .8;
		}

		@include mq-hover {
			@include transition('opacity');
		}

		&-img {
			height: 100%;
		}
	}
}
