html {
	min-height: vars(vh, fullscreen);
	visibility: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: color(global, light);
	color: color(global, dark);
	line-height: 1.5;
	text-rendering: optimizespeed;

	@include f-body;
	@include f-body-regular;
	@include font-smoothing;
	@include fluid-type(vars(brakepoint, sml), vars(layout, maxwidth), vars(type, sml), vars(type, lrg));

	&.no-scroll {
		position: relative;
		visibility: hidden;
		overflow: hidden;

		body {
			overflow: hidden;
		}
	}

	&.is-admin {

		/* stylelint-disable-next-line declaration-no-important */
		margin-top: 0 !important;

		@include mq(vars(brakepoint, med), max-width) {
			padding-top: 46px;

			> body > header {
				margin-top: 46px;
			}
		}

		@include mq(vars(brakepoint, med)) {
			padding-top: 32px;

			> body > header {
				margin-top: 32px;
			}
		}
	}
}

body {
	@include mq(vars(brakepoint, med), max-width) {
		margin-top: rem(80px);
	}

	@include mq(vars(brakepoint, med)) {
		margin-top: rem(120px);
	}
}
