@use '@styles/settings' as *;

.footer {
	$footer: &;

	@include color-scheme(
		(
			--social-color: $dark,
			--social-active: $light,
			--social-active-bg: $dark
		),
		(
			--social-color: $light,
			--social-active: $dark,
			--social-active-bg: $light
		)
	);

	width: 100%;
	text-align: center;

	@include sizing('padding-bottom', size(8));

	&__social {
		width: 100%;
		font-size: 0;

		@include sizing('padding-bottom', size(2));

		&-link {
			display: inline-flex;
			color: var(--social-color);
			text-decoration: none;

			@include sizing('margin-right', size(1));
			@include sizing('margin-left', size(1));
			@include sizing('padding', size(2));
			@include user-select(disable);

			&:focus {
				background-color: var(--social-active-bg);
				color: var(--social-active);
			}

			@include mq-hover {
				@include transition('background, color');

				&:hover {
					background-color: var(--social-active-bg);
					color: var(--social-active);
				}
			}

			&::before {
				@extend %f-icon-xxlrg;
			}
		}
	}
}
