@use '@styles/settings' as *;

.nav {
	@include color-scheme(
		(
			--nav-a-color: $dark,
			--nav-a-bg-active: $dark,
			--nav-a-color-active: $light
		),
		(
			--nav-a-color: $light,
			--nav-a-bg-active: $light,
			--nav-a-color-active: $dark
		)
	);
	@include sizing('padding-bottom', size(2));

	&__li {
		display: inline-flex;
		list-style-type: none;

		a {
			color: var(--nav-a-color);
			text-decoration: none;

			@extend %f-small;
			@extend %f-heading;
			@extend %f-uppercase;
			@include user-select(disable);
			@include sizing('margin-right', size(.25));
			@include sizing('margin-left', size(.25));
			@include sizing('padding', [size(1), size(2)]);

			&:focus {
				background-color: var(--nav-a-bg-active);
				color: var(--nav-a-color-active);
			}

			@include mq-hover {
				@include transition('background, color');

				&:hover {
					background-color: var(--nav-a-bg-active);
					color: var(--nav-a-color-active);
				}
			}
		}

		&.is-active a {
			background-color: var(--nav-a-bg-active);
			color: var(--nav-a-color-active);
		}
	}
}
