@use '@styles/settings' as *;

.footer {
	$footer: &;

	width: 100%;
	text-align: center;

	@include sizing('padding-bottom', size(8));

	&__social {
		width: 100%;
		font-size: 0;

		@include sizing('padding-bottom', size(2));

		&-link {
			display: inline-flex;
			color: $dark;
			text-decoration: none;

			@include sizing('margin-right', size(1));
			@include sizing('margin-left', size(1));
			@include sizing('padding', size(2));
			@include user-select(disable);

			&:focus {
				background-color: $dark;
				color: $light;
			}

			@include mq-hover {
				@include transition('background, color');

				&:hover {
					background-color: $dark;
					color: $light;
				}
			}

			&::before {
				@extend %f-icon-xxxlrg;
			}
		}
	}
}
