@use '@styles/settings' as *;

.post-nav {
	&__nav {
		@include color-scheme(
			(
				--nav-color: $dark,
				--nav-active-bg: $dark,
				--nav-active-color: $light
			),
			(
				--nav-color: $light,
				--nav-active-bg: $light,
				--nav-active-color: $dark
			)
		);

		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		@include sizing('gap', size(.5));

		&-link {
			color: var(--nav-color);
			text-decoration: none;

			@include sizing('margin-right', size(1));
			@include sizing('margin-left', size(1));
			@include sizing('padding', size(2));
			@extend %f-icon-xxxlrg;

			&:focus {
				background-color: var(--nav-active-bg);
				color: var(--nav-active-color);
			}

			@include mq-hover {
				@include transition('background, color');

				&:hover {
					background-color: var(--nav-active-bg);
					color: var(--nav-active-color);
				}
			}
		}
	}
}
