@use '@styles/settings' as *;

.post-nav {
	&__nav {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;

		@include sizing('gap', size(.5));

		&-link {
			line-height: normal;
			text-decoration: none;

			@extend %type-icon-xlrg;
			@include sizing('padding', [size(1.2), size(2)]);
		}
	}
}
