%form-reset {
	display: block;
	width: 100%;
	padding: rem(spacing(.5));
	border-width: rem(2px);
	border-style: solid;
	border-color: transparent;
	appearance: none;

	@include type-paragraph;

	&::placeholder {
		opacity: .8;

		@include transition(all);
	}

	&[disabled] {
		opacity: .4;

		@include interaction(disable);
	}

	&.is-hidden {
		display: none;
	}

	@include mq-hover {
		@include transition(all);
	}
}
