.login {
	display: flex;
	position: relative;
	align-items: center;
    background-color: #000;

    #login {
        position: relative;
        z-index: 99;
        padding: 0;

        #nav {
            width: 100%;
            text-align: center;
            padding: .8rem 0 0 0;
            margin: 0;

            a {
                color: #fff;
            }
        }

        #loginform {
            margin: 0;
            padding: 0;
            background-color: transparent;
            border-width: 0;
            box-shadow: none;

            label {
                padding: 0;
                margin: 0 0 .8rem;
                color: #fff;
            }

            input {
                background-color: #000;
                color: #fff;
                border-radius: 0;
                border-width: 1px;
                border-style: solid;
                border-color: #fff;

                &[type=text],
                &[type=password] {
                    padding: .8rem 1rem;
                    font-size: 16px;
                }
            }

            .wp-hide-pw {
                top: 50%;
                transform: translateY(-71%);
                margin: 0;
                padding: 0;
                color: #fff;
            }

            .forgetmenot {
                height: 27px;
                padding-top: 5px;
            }
        }

        h1,
        .privacy-policy-page-link,
        #backtoblog {
            display: none;
        }
    }
}

