@import '../../../scss/settings';

.header {
	$header: &;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;

	@include mq(vars(brakepoint, med), max-width) {
		height: rem(80px);
	}

	@include mq(vars(brakepoint, med)) {
		height: rem(120px);
	}

	&__logo {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include mq(vars(brakepoint, med), max-width) {
			left: rem(spacing(1));
			width: rem(150px);
		}

		@include mq(vars(brakepoint, med)) {
			left: rem(spacing(2));
			width: rem(200px);
		}

		&:focus {
			transform: translateY(-50%) scale(1.1);
		}

		@include mq-hover {
			@include transition(all, 200ms, ease-in-out);
			@include hardware(true);
		}
	}

	&__cta {
		@include mq(vars(brakepoint, med), max-width) {
			display: none;
		}

		@include mq(vars(brakepoint, med)) {
			display: flex;
			flex-direction: column;
			position: absolute;
			top: 0;
			right: rem(120px);
			bottom: 0;
			align-items: center;
		}

		&-link {
			@include mq(vars(brakepoint, med)) {
				width: 100%;
				height: 100%;
				padding: rem(spacing(1));
				text-align: center;
				text-decoration: none;

				&:focus {
					background-color: $dark;
					color: $light;
				}

				@include mq-hover {
					@include transition(all, 200ms, ease-in-out);
					@include hardware(true);

					&:hover {
						background-color: $dark;
						border-color: $dark;
						color: $light;
					}

					&:active {
						opacity: .9;
					}
				}
			}

			&:first-of-type {
				@include mq(vars(brakepoint, med)) {
					border-top-width: 0;
				}
			}
		}
	}

	&.bg-dark {
		#{$header}__cta-link {
			&:focus {
				background-color: $light;
				color: $dark;
			}

			@include mq-hover {
				&:hover {
					background-color: $light;
					border-color: $light;
					color: $dark;
				}

				&:active {
					opacity: .9;
				}
			}
		}
	}
}
